POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=rag

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=pdf-documents

OLLAMA_CONTEXT_LENGTH=2048
MODELS_TO_PULL=nomic-embed-text,llama3.2:1b
